<!-- Launch the framework code for problem 2c on HW1 -->
<launch>
  <node name="start_vrep" pkg="foundations_hw2" type="start_vrep" args="~/V-REP $(find foundations_hw2)/scenes/hw2.ttt"/>
  <node name="effector_pos" pkg="foundations_hw2" type="run_effector" args="$(find foundations_hw2)/bin/effector_bin"/>
</launch>

